#app
SERVER_ADDRESS=0.0.0.0:8060

#google
GOOGLE_CLIENT_ID=<your-client-id>
GOOGLE_CLIENT_SECRET=<your-client-secret>
GOOGLE_REDIRECT_URL=http://<your-server-ip>/auth/callback
GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo

#front
FRONTEND_URL=http://<your-server-ip>/#

#coindesk
COINDESK_API_KEY=
COINDESK_DATA_API_URL=https://data-api.coindesk.com
COINDESK_MIN_API_URL=https://min-api.cryptocompare.com